body {
    background-image: url("windows.jpg");
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    visibility:visible;
    z-index:-2;
}
.iconoblanco {
    margin-top: -2.3%;
    margin-left: 0.3%;
    z-index: 1;
    position: absolute;
}
#tareas {
    display: block;
    background-color: black;
    opacity: 0.8;
    color: white;
    margin-top: -0.4%;
    height: 100%;
    width: 100%;
    margin-left: -0.4%;
    padding: 0.4%;
}
.menu {
    display: block;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    left: 0%;
    top: 5%;
    height: 100%;
}
.writter > p {
    color: white;
    margin-left: 1.2%;
    margin-top: 0%;
}
.terminal > p {
    color: white;
    margin-left: 0.75%;
    margin-top: 0%;
}
.mozilla > p {
    color: white;
    margin-left: 0.90%;
    margin-top: 0.25%;
}
.papelera > p {
    color: white;
    margin-left: 0.78%;
    margin-top: 0%;
}
.ubuntu {
    margin-top: 2.5%;
    margin-left: 0.65%;
    bottom:20%;
    display: block;
}
.writter {
    margin-top: 1.3%;
    margin-left: 0.15%;
    display: block;
}
.terminal {
    margin-left: 0.25%;
    display: block;
}
.mozilla {
    margin-left: 0.32%;
    display: block;
}
.papelera {
    margin-top: 9%;
    margin-left: 0.32%;
    display: block;
}